.sort {
    width: 152px;
    background: #BDBDBD;
    padding: 35px 20px;
    height: 100vh;
    position: sticky;
    top: 0;
    &__btn {
        cursor: pointer;
        margin-top: 10px;
        padding: 5px 15px;
        background: #4B51EF;
        color: #fff;
        border: none;
        border-radius: 5px;
    }
}