.fz {
    &_14 {
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
    }
    &_12 {
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
    }
    &_11 {
        font-size: 11px;
        line-height: 13px;
    }
    &_8 {
        font-size: 8px;
        line-height: 9px;
    }
}