.form {
    margin-top: 13px;
    &__block {
        display: flex;
        justify-content: space-between;
    }
    &__change {
        cursor: pointer;
        border: none;
        padding: 5px 10px;
        color: #fff;
        background: #4B51EF;
        border-radius: 5px;
    }
    &__wrapper {
        margin-top: 15px;
        padding: 20px 12px;
        border: 1px solid #F3F3F3;
        border-radius: 8px;
        width: 438px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
    &__input {
        padding: 5px 10px;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        width: 211px;
        &:focus {
            outline: none;
            border: 1px solid #4378FF;
        }
    }
    &__area {
        resize:none;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        padding: 5px 10px;
    }
    &__btn {
        cursor: pointer;
        border: none;
        padding: 5px 15px;
        color: #fff;
        border-radius: 5px;
    }
}
.error {
    border-color: red;
}